.advantages {
	padding-bottom: 50px;

	// .advantages__title

	&__title {
		margin-bottom: 50px;
	}

	// .advantages__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 20px;
		row-gap: 40px;

		@media(min-width:992px) {
			justify-content: space-between;
		}
	}

	// .advantages__item

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 183px;
	}


	&__icon_box {
		display: inline-block;
		margin-bottom: 10px;
		border-radius: 50%;
		background-color: #8EC038;
		transition: filter 0.3s ease 0s;
	}

	&__icon_box:hover {
		filter: drop-shadow(0px 0px 26px rgba(142, 192, 56, 0.51));

	}

	// .advantages__icon

	&__icon {
		width: 80px;
		height: 80px;
		padding: 15px;
	}

	// .advantages__small-title

	&__small-title {
		font-size: 16px;
		text-align: center;
	}

	// .advantages__text

	&__text {
		font-size: 16px;
		text-align: center;
	}
}